*{
    margin: 0;
}

nav {
    margin:0;
    padding:2em;
    color:white;
    display:flex;
    justify-content:space-around;
  
}

.nav-left{
    color:aqua;
    font-size:2em;
    opacity: 0.5;
}
 
nav ul li {
    display: inline-block;
    font-size:0.8em;
    font-weight:bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 100px;
    list-style-type: none;
   
    
}
nav ul a{
    color:white;
   
    
}
header{
    
    background-image: url('./images/bgk-header.png');
    height:50em;
    background-repeat: no-repeat;
    background-size: cover;
}
#hero-section {
    text-align:center;
    color:white;
    width:50%;
    padding: 5em;
    
    margin: 14em;
    margin-top: 1em;
    font-size:1.5em;
    
}

p{
    font-size:0.4cm;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0.7;
}

#line{
    height:1px;
    width:5%;
    margin-left: 50%;
    border-width:0;
    color:aqua;
    background-color:aqua;
    text-align: center;
}


.button1{
    
    color:aqua;
    background-color: transparent;
    padding: 14px 40px;
    border: 2px solid aqua; 
    
    
}

#our_story-section{
    color:green;
}

#watch-section{
    color:darkred;
}

#expertise-section{
    color:fuchsia;
}

#team-section{
    color: yellowgreen;
}

#contact_client-section{
    color:lightsalmon;
}

footer{
    color:blueviolet;
}